.jumbotron {
    background-image: url("../img/blueprint.jpeg");
    background-size: 450px;
    width: 100%;
    margin: auto;
}

h1 {
    color: white;
    font-family: "Al Bayan", serif;
    font-weight: bold;
}

p {
    color: white;
}

body {
    background-color: #b8b8b8;

}