.bg-pizza {
    background-image: url("../img/pizza.jpeg");
    background-size: cover;
}

h1, .jumbotron {
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
}
.opaque-bg {
    background: rgba(255, 255, 255, .7);
}

.form-group {
    text-align: start;
    padding: 1em;
}

.card {
    margin: 1em;
}

.name {
    border: none;
    margin: 1em;
}