* {
    height: 50%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

nav {
    background: gray;
    color: whitesmoke;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.middle {
    display: flex;
    align-self: center;
    padding: -100em;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
}
