a {
    color: black;
    borde: none;
}
.jumbotron {
    color: rgba(0, 0, 0, 0.57);
    text-align: center;
}

.opaque-bg {
    background: rgba(255, 255, 255, .5);
}

body {
    background-image: url("../img/wormhole.gif");
    background-size: cover;
    width: 100%;
}

#tittle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: maroon;
    font-family: Arial, serif;
}
