@import "https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap";
body {
    font-family: abril fatface;
    background-color: rebeccapurple;
    background-image: url("../img/space.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

}

.fancy-header, h2 {
    color: #055bfc;
    text-decoration: underline;
    text-align: center;

}

.fancy-header {
    font-size: 700%;
}

h2 {
    text-align: left;
    font-size: 300%;
}

p, li {
    font-family: sans-serif;
    font-size: 150%;

}

ol {
    list-style: upper-roman;
}
ul {
    list-style: square;
}
